@(activePage:String)
    @main("nav"){
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <p class="text-header tel"><b><span class="fa fa-mobile-phone"></span> +998(93)-966-38-38</b></p>
                </div>
                <div class="col-xs-3 col-xs-offset-3">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="fa fa-search"></span></div>
                                <input type="search" class="form-control" id="search" placeholder="Search..."/>
                            </div>
                        </div>
                    </form>
                </div>
                    <div class="pull-right tel">
                        <ul class="top-menu  list-inline">
                            <li class ="@if(activePage == "home") {active }"><b><a href="@routes.Application.index()" class=""><span class="fa fa-home"></span> Home</a></b></li>
                            <li class ="@if(activePage == "signup") {active}"><b><a href="@routes.Application.signUp()" class=""><span class="fa fa-user-plus"></span> Sign Up</a></b></li>
                            <li class ="@if(activePage == "signin") {active}"><b><a href="@routes.Application.signIn()" class=""><span class="fa fa-user"></span> Sign In</a></b></li>
                        </ul>
                    </div>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="row">
                @*<div class="col-xs-6 col-sm-2 col-md-3 col-lg-3 ">*@
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle navbar-right" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="active sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"><strong><span class="fa fa-shopping-cart"></span> HyperMarket</strong></a>
                </div>

                @*</div>*@
                @*<div class="col-xs-6 col-sm-10 col-md-9 col-lg-7 col-lg-offset-2">*@
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-6">
                    <ul class="nav navbar-nav">
                        <li class="@if(activePage == "home") {active}"><a href="@routes.Application.index()"><span class="fa fa-home"></span><b>
                            HOME</b></a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <b>1-BO'LIM</b> <span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="@if(activePage == "shirinlik") {active}"><a href="@routes.First.list()"><strong>
                                    Shirinliklar</strong></a></li>
                                <li><a href="">Kalbasa va go'sht maxsulotlari</a></li>
                                <li><a href="">Sut va sut maxsulotlari</a></li>
                                <li><a href="">Non va kulinariya maxsulotlari</a></li>
                                <li><a href="">Poliz ekinlari</a></li>
                                <li><a href="">Mevalar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <b>2-BO'LIM </b><span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">Elektr jixozlar</a></li>
                                <li><a href="">Maishiy texnika</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <b>3-BO'LIM </b><span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">Erkaklar uchun kiyimlar</a></li>
                                <li><a href="">Ayollar uchun kiyimlar</a></li>
                                <li><a href="">Bolalar uchun kiyimlar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <b>4-BO'LIM </b><span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">Esdalik uchun sovg'alar</a></li>
                                <li><a href="">O'yinchoqlar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <b>5-BO'LIM </b><span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">Uy jixozlar</a></li>
                                <li><a href="">Ishxona jixozlari</a></li>
                                <li><a href="">Oshxona jixozlari</a></li>
                            </ul>
                        </li>
                        <li class="@if(activePage == "kafe") {active}"><a href="@routes.Application.kafe()">
                            <strong><span class="fa fa-coffee"></span> KAFE</strong></a></li>

                        <li class="dropdown act">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <b>Work with lists </b> <span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="@if(activePage == "list") {active}"><a href="@routes.First.list()"><strong>
                                    Somethings</strong></a></li>
                                <li class="@if(activePage == "add") {active}"><a href="@routes.First.add()"><strong>
                                    Add new ...</strong></a></li>
                                <li class="@if(activePage == "list") {active}"><a href="@routes.Sections.list()"><strong>
                                    Sections list</strong></a></li>
                                <li class="@if(activePage == "list") {active}"><a href="@routes.Sections.add()"><strong>
                                    Add new sections</strong></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                @*</div>*@
            </div>
        </div>
    </nav>
    }

