@(candy: List[anyForDisp])

@main("Sweets") {
    @navbar("shirinlik")
    <body class="main-bg">
        <div class="container">
            <h1 class="text-center">Sweets.</h1>
            <table class="table table-hover">
                <thead>
                    <tr class="bg-primary">
                        <th>Name</th>
                        <th>Image</th>
                        <th>Cost</th>
                        <th>Section</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @for(n <- candy) {
                    <tr>
                        <td>@n.any.name</td>
                        <td><img style="width: 20%" src="@routes.Assets.at("images/"+n.any.imgUrl)" alt=""/></td>
                        <td>@n.any.cost</td>
                        <td>@n.sectionName</td>
                        <td>
                            <a href="@routes.First.showEditForm(n.any.id.get)">
                                <button class="btn btn-warning">Edit</button>
                            </a>
                            <a href="@routes.First.remove(n.any.id.get)">
                                <button class="btn btn-danger">Delete</button>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <a href="@routes.First.add()" class="btn btn-info btn-lg btn-block" role="button">add new sweet</a>
        </div>
    </body>
    @footer("shirinlik")
}
